@media (max-width: 1200px) {
    .container {
        max-width: 840px;
    }
    .promo {
        .promo__wrapper {
            .promo_header {
                font-size: 37px;
            }
            .promo_subheader {
                font-size: 20PX;
            }
        }    
    }

    .application {
        .application_title {
            font-size: 26px;
        }
    }
    .catalog {
        .catalog__content {
            justify-content: space-around;
        }
    }
    .review {
        .review__img {
            width: 130px;
            height: 130px;
        }
        .review__text {
            font-size: 15px;
        }
    }
    .footer {
        .footer__wrapper {
            position: absolute;
            width: 400px;
            height: 247px;
            padding: 34px 68px 60px 68px;
        }
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 630px;
    }
    .promo {
        .header {
            .heder__logo {
                img {
                    width: 170px;
                }
            }
            .header__ofishial {
                font-size: 11px;
                span {
                    font-size: 17px;
                }
            }
            .header__contacts {
                .header__phone {
                    font-size: 17px;
                }
                button {
                    margin-top: 2px;   
                }
            }         
        }
        .promo__wrapper {
            .promo_header {
                font-size: 30px;
            }
            .promo_subheader {
                font-size: 16px;
            }
            .promo__icons {
                width: 360px;
                .promo__icon {
                    font-size: 13px ;
                }
            }
            .button {
                &_main {
                    width: 217px;
                    font-size: 14px;
                }
            }
            .promo__link {
                font-size: 14px;
            }
        }     
    }
    .advantage {
        h2 {
            font-size: 23px;
        }
        .advantage__contents {
            .advantage__content {
                padding: 0 15px;
                &:nth-child(2) {
                    margin-top: 25px;
                }
                .advantage__text {
                    margin-top: 20px;
                    font-size: 16px;
                }
                .advantage__subtext {
                    margin-top: 20px;
                    font-size: 13px;
                }
            }
        } 
    }
    .application {
        .application__title {
            font-size: 25px;
        }
        .application__subtitle {
            margin-top: 60px;
        }
        .feed-form {
            width: 250px;
            input {
                width: 250px;
            }
        }
        .button {
            &_consultation {
                width: 250px;
                font-size: 15px;
            }
        }
    }
    .carousel {
        img {
            height: 270px;
        }
        .prev {
            left: 25px;
        }
        .next {
            right: 25px;
        }
    }
    .catalog {
        .catalog__title {
            font-size: 25px;
        }
        .catalog__tab {
            width: 180px;
            height: 40px;
            font-size: 14px;
            line-height: 39px;
        }
    }
    .review {
        .review__title {
            font-size: 25px;
        }
        .review__wrapper {
            padding-right: 0px;
        }
        .review__text {
            font-size: 14px;
            margin-top: 10px;
        }
        .review__item {
            margin-top: 50px;
        }
    }
    .footer {
        .footer__wrapper {
            position: absolute;
            width: 368px;
            height: 190px;
            padding: 26px 68px 88px 68px;
        }
        .footer__adress {
            font-size: 17px;
        }
        .footer__phone {
            font-size: 19px;
            margin-bottom: 18px;
        }
        .footer__social-item {
            width: 45px;
            height: 45px;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        .header {
            justify-content: space-around;
            .header__ofishial {
                display: none;
            }
            .header__contacts {
                .header__phone {
                    font-size: 18px;
                }
                button {
                    display: none;  
                }
            }         
        }
        .promo__wrapper {
            align-items: center;
        }     
    }
    .advantage {
        h2 {
            font-size: 19px;
        }
        .advantage__contents {
            flex-direction: column;
            justify-content: center;
            margin-top: 40px;
            .advantage__content {
                &:nth-child(3) {
                    margin-top: 25px;
                }
            }
        }
    }
    .application {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .application__title {
            font-size: 20px;
            text-align: center;
        }
        .application__subtitle {
            margin-top: 40px;
            font-size: 18px;
            text-align: center;
        }
        .feed-form {
            justify-content: center;
            width: 220px;
            margin-left: 25%;
            transform: rotateX(-25%);
            input {
                width: 220px;
            }
        }
        .button {
            &_consultation {
                width: 220px;
                font-size: 13px;
            }
        }
    }
    .carousel {
        img {
            height: 220px;
        }
        .prev {
            left: 65px;
            img {
                width: 20px;
                height: 35px;
            }
        }
        .next {
            right: 65px;
            img {
                width: 20px;
                height: 35px;
            }
        }
    }
    .catalog {
        .catalog__title {
            font-size: 20px;
        }
        .catalog__tabs {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px 0;
            margin-top: 25px;
            .catalog__tab {
                margin: 10px 0;
            }
        }
        .catalog__content {
            margin-top: 40px;
        }
        .catalog-item__subtitle {
            margin-top: 8px;
        }
        .catalog-item__descr {
            margin-top: 6px;
        }
        .catalog-item__link {
            margin-top: 13px;
        }
        hr {
            margin-top: 0px;
        }
    }
    .review {
        .review__title {
            font-size: 20px;
        }
        .review__item {
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            img {
                width: 100px;
                height: 100px;
            }
            &:nth-child(2){
                margin-top: 35px;
            }
        }
        .review__wrapper {
            padding-right: 0px;
            .review__name {
                text-align: center;
                margin-left: -56px;
                margin-top: 15px;
            }
            .review__sabtitle {
                text-align: center;
                margin-left: -59px;
            }
        }
    }
}
@media (max-width: 575px) {
    .pageup {
        display: none;
    }
    .promo {
        .header {
            flex-direction:column;
            justify-content: space-around;
            .header__contacts {
                .header__phone {
                    margin-top: 16px;
                }
            }         
        }
        .promo__wrapper {
            .promo_header {
                font-size: 21px;
                margin-top: 165px;
            }
            .promo_subheader {
                font-size: 13px;
                font-weight: 600;
                margin-top: 30px;
            }
            .promo__icons {
                display: none;
            }
            .button {
                &_main {
                    width: 200px;
                    font-size: 13px;
                }
            }
        }     
    }
    .application {
        .application__title {
            font-size: 17px;
        }
        .application__subtitle {
            font-size: 17px;
        }
        .feed-form {
            margin-left: 17%;
            transform: rotateX(-17%);
        }
    }
    .carousel {
        display: none;
    }
    .catalog {
        .catalog__title {
            margin-top: 50px;
        }
    }
}