@import "library/bootstrap-reboot.min";
@import "library/font";
@import "animation";


* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
	
	
}
@import 'promo';
@import "buttons";
@import "advantage";
@import "application";
@import "forms";
@import "carousel";
@import "catalog";
@import "review";
@import "footer";
@import "modal";
@import "pageup";
@import "media";
